@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

@layer base {
  @apply font-sans;
}

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary: #646cff;
  --color-secondary: #61dafb;
  --color-accent: #646cff;
  --color-background: #fff;
  --color-heading: #222;
  --color-text: #333;
  --font-sans: 'Tiktok Sans', sans-serif;
}