@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+HU:wght@100..400&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import 'tailwindcss/preflight' layer(base);

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
  font-size: 85%;
}
/* Modal Animations */

/* Keyframes definitions */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Animation classes */
.animate-slideUp {
  animation: slideUp 0.3s ease-out forwards;
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.3s ease-out forwards;
}

.gradient-text{
  background: linear-gradient(to right, #242E7C, #5FA3F7);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

@layer base {
  body {
    @apply font-main;
    @apply font-[14px];
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --color-primary: #001F54;
  --color-secondary: #496ECC;
  --color-tertiary: #c9ada7;
  --color-accent: #ff6b35;
  --color-success: #10B981;
  --color-error: #DC2626;
  --color-background: #FEFCFB;
  --color-heading: #080E21;
  --color-text: #1e1e1e;
  --color-text-secondary: #6B7280;
  --font-main: 'Tiktok Sans', sans-serif;
}


